<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    
    <p>Here is the list of skills:</p>

    <% for( let i = 0; i < skills.length; i++ ) { %>
        <li> <%= skills[i].skill %> </li>
    <% } %>

    <div>
        <a href="/"> ---> Home <--- </a>
    </div>

</body>
</html>

