<%- include("../partials/header") %>
    <h1>
        <%= title %>
    </h1>

    <h3>Fill out the form to add a new skill.</h3>

    <form action="/skills" method="POST" autocomplete="off">

        <h4> Skill Name: </h4>
        <input type="text" name="skill" placeholder="Name" size=28 required>


        <h4>Skill Description: </h4>
        <textarea id="skillDesc" type="text" name="desc" cols="50" rows="6" style="width:300px; height:50px;"
            placeholder="Description"></textarea>


        <h4> Proficiency X/10: </h4>
        <input id="rank" type="number" name="rank" min="1" max="10" placeholder="0" required>

        <button type="submit" style="margin-top: 20px; display: block;">Add Skill</button>

    </form>

    <%- include("../partials/footer") %>