<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
    <h1><%= title %></h1>
    
    <h3>Skill in depth:</h3>

    <h4> <%= skill.skill %></h4>
    <p> <%= skill.rank %></p>

    <div>
        <a href="/skills"> ---> Skills Page <--- </a>
    </div>
    <div>
        <a href="/"> ---> Home Page<--- </a>
    </div>



</body>
</html>