body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

#skillDesc {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.actionBtn {
  display:flex;
  width: 2em;
  height: 2em;
  align-content: center;
  justify-content: center;
}

a {
  color: blue;
}

li {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap:5px;
  align-items: center;
}