body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: blue;
}

li {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}